VITE_SUPABASE_PROJECT_ID="smagdeufovrsrjhzoshv"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtYWdkZXVmb3Zyc3JqaHpvc2h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NTU4NjQsImV4cCI6MjA4ODMzMTg2NH0.rbBdMbm2UnUe8ZX-b3TGhMD9es39DHXrPPvutYORmYo"
VITE_SUPABASE_URL="https://smagdeufovrsrjhzoshv.supabase.co"
